* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.App {
  text-align: center;
  margin: 6rem;
}

.search-cnt h1 {
  padding: 2rem;
  font-size: 3rem;
  color: #8F2D56;
}


.search-form-cnt span {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #218380;
  font-weight: 600;
}

.search-form-cnt form input {
  width: 28rem;
  height: 3rem;
  border: 1px solid #FFBC42;
  border-radius: 50px;
  padding: 1rem;
  font-size: 1.2rem;
  color: #FFBC42;
  font-weight: 600;
}

.search-form-cnt form input:focus {
  outline: none;
}

.search-form-cnt form input::placeholder {
  font-size: 1.2rem;
  color: #218380;
  font-weight: 600;
}

.search-result-cnt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.search-result-cnt div {
  flex: 0 1 auto;
  margin: 1rem;
  transition: 0.8s;
}

.search-result-cnt div a {
  display: inline-block;
}

.search-result-cnt div img {
  width: 100%;
}

.search-result-cnt div img:hover {
  background: #8F2D56;
}